* {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav {
  background-color: rgb(12, 195, 195);
  margin: 10px;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  background-color: azure;
  width: 70%;
  margin: auto;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
  min-height: 100vh;
}

.container>h3 {
  text-align: center;
  color: rgb(48, 46, 46);
  margin-bottom: 5px;
}

.container>form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
button {
  padding: 20px;
  margin: 10px 0;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  font-size: medium;
}

button {
  background-color: rgb(120, 222, 222);
  font-size: medium;
}

button:hover {
  background-color: rgb(46, 179, 179);
}

.task {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
  border: 1px solid whitesmoke;
  background-color: rgb(60, 85, 85);
  color: azure;
  align-items: center;
}

.task>div {
  width: 100%;
}

.task button {
  margin: 10px;
}

.task button:hover {
  background-color: red;
}